<a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ classroom.gradeClass}}</h4>
    <p class="list-group-item-text">{{ classroom.specialization }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="classroom.teacherImagePath"
          alt="{{ classroom.teacherName }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
